<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title -->
    <title>Learn</title>
    <link rel="icon" type="image/png" href="/views/home/img/playstore.png">
    <!-- CSS -->
    <link href="views/dashboard/css/font-face.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/css/theme.min.css" rel="stylesheet" media="all">

    <link href="views/dashboard/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/wow/animate.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/slick/slick.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.min.css" rel="stylesheet" media="all">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>

    <link rel="stylesheet" href="views/learn/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/learn/css/owl.carousel.min.css">
    <link rel="stylesheet" href="views/learn/css/slicknav.min.css">
    <link href="views/learn/css/filter.css" rel="stylesheet">
    <link rel="stylesheet" href="views/learn/css/flaticon.min.css">
    <link rel="stylesheet" href="views/learn/css/gijgo.min.css">
    <link rel="stylesheet" href="views/learn/css/animate.min.css">
    <link rel="stylesheet" href="views/learn/css/magnific-popup.min.css">
    <link rel="stylesheet" href="views/learn/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="views/learn/css/themify-icons.min.css">
    <link rel="stylesheet" href="views/learn/css/slick.min.css">
    <link rel="stylesheet" href="views/learn/css/nice-select.min.css">
    <link rel="stylesheet" href="views/learn/css/style.min.css">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- Include Dashboard Side Navigation Bar -->
    <%- include("../partials/dashboard_side_nav.ejs") %>

    <div class="page-container">
        <!-- Include Dashboard Header -->
        <%- include("../partials/dashboard_header.ejs") %>

        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                               <a href="/learn"><p><< Go back to Domains</p></a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <% let i = 0 %>
                    <% console.log(domainName) %>
                    <% filter.forEach(child => { %>
                        <% if (child.key !== "image") { %>
                            <% if (i % 3 === 0) { %>
                            <div class="row">
                                <% } %>
                                
                                <div class="col-md-4" onclick="location.href='/learn/<%= domainName %>/<%= child.key %>'" >
                                    <div class="card contain img-fluid au-card"  onMouseOver="this.style.opacity=0.7"
                                        onMouseOut="this.style.opacity=1"  style="width:100%;padding:0; opacity: 1;height: 250px;cursor: pointer;border-radius: 15px;position:relative">                                       
                                        <div style="display: flex; justify-content: center;">
                                            <img src="<%= child.child("image").val() %>" alt="Card image" class="image"style=" opacity: 1;display: block;width: 100%;height: 250px;transition: .5s ease;backface-visibility: hidden;">
                                                <div class="middle" onMouseOver="this.style.opacity=1"
                                                    onMouseOut="this.style.opacity=0"style="  transition: .5s ease;opacity: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-align: center;">
                                                    <div class="text" style=" background-color: #fff;color:#8C54A1;font-size: 16px;padding: 16px 32px;">
                                                        <h3 style="font-weight:bold"><%= child.key %></h3>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                        <p><%= child.key %></p>
                                </div>
                                
                                
                                <% if (i % 3 === 2) { %>
                            </div>
                            <% } %>
                            <% i += 1 %>
                        <% } %>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JS -->
<script>
    let domains = document.getElementById("Domain");
    let branches = document.getElementById("Branch");

    domains.addEventListener("change", function () {
        console.log(domains.value);
        console.log("<%= activeName %>");
    });
</script>
<script src="views/dashboard/vendor/jquery-3.2.1.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="views/dashboard/vendor/slick/slick.min.js"></script>
<script src="views/dashboard/vendor/wow/wow.min.js"></script>
<script src="views/dashboard/vendor/animsition/animsition.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="views/dashboard/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="views/dashboard/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="views/dashboard/vendor/circle-progress/circle-progress.min.js"></script>
<script src="views/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="views/dashboard/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="views/dashboard/vendor/select2/select2.min.js"></script>

<script src="views/dashboard/js/main.js"></script>

<script src="views/learn/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="views/learn/js/vendor/jquery-1.12.4.min.js"></script>
<script src="views/learn/js/popper.min.js"></script>
<script src="views/learn/js/bootstrap.min.js"></script>
<script src="views/learn/js/jquery.slicknav.min.js"></script>
<script src="views/learn/js/owl.carousel.min.js"></script>
<script src="views/learn/js/slick.min.js"></script>
<script src="views/learn/js/wow.min.js"></script>
<script src="views/learn/js/animated.headline.min.js"></script>
<script src="views/learn/js/jquery.magnific-popup.js"></script>
<script src="views/learn/js/gijgo.min.js"></script>
<script src="views/learn/js/jquery.nice-select.min.js"></script>
<script src="views/learn/js/jquery.sticky.min.js"></script>
<script src="views/learn/js/jquery.counterup.min.js"></script>
<script src="views/learn/js/waypoints.min.js"></script>
<script src="views/learn/js/contact.min.js"></script>
<script src="views/learn/js/jquery.form.min.js"></script>
<script src="views/learn/js/jquery.validate.min.js"></script>
<script src="views/learn/js/mail-script.min.js"></script>
<script src="views/learn/js/jquery.ajaxchimp.min.js"></script>

</body>
</html>