<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <link rel="stylesheet" href="/views/learn/css/tabView.css">

    <!-- Title -->
    <title>Learn</title>

    <!-- CSS -->
    <link href="views/dashboard/css/font-face.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="views/dashboard/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="views/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet"/>
    <link href="views/learn/css/filter.css" rel="stylesheet">
    <link rel="stylesheet" href="views/learn/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/learn/css/owl.carousel.min.css">
    <link rel="stylesheet" href="views/learn/css/slicknav.css">
    <link rel="stylesheet" href="views/learn/css/flaticon.css">
    <link rel="stylesheet" href="views/learn/css/gijgo.css">
    <link rel="stylesheet" href="views/learn/css/animate.min.css">
    <link rel="stylesheet" href="views/learn/css/magnific-popup.css">
    <link rel="stylesheet" href="views/learn/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="views/learn/css/themify-icons.css">
    <link rel="stylesheet" href="views/learn/css/slick.css">
    <link rel="stylesheet" href="views/learn/css/nice-select.css">
    <link rel="stylesheet" href="views/learn/css/style.css">
    <link href="views/dashboard/css/theme.css" rel="stylesheet" media="all">
</head>

<body class="animsition">
<div class="page-wrapper">
    <!-- Include Dashboard Side Navigation Bar -->
    <%- include("../partials/dashboard_side_nav.ejs") %>

    <div class="page-container">
        <!-- Include Dashboard Header -->
        <%- include("../partials/dashboard_header.ejs") %>
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="overview-wrap">
                                <h2 class="title-1"><%= course %></h2>
                            </div>
                        </div>
                    </div>
                    <% let x = true; %>
                    <% filter.forEach(child => { %>
                        <% if (child.key !== "image") { %>
                            <% if (x) { %>
                                <button class="tablink" onclick="openPage('<%= child.key %>', this, 'red')" id="defaultOpen"><%= child.key %></button>
                                <% x = false; %>
                            <% } else { %>
                                <button class="tablink" onclick="openPage('<%= child.key %>', this, 'red')"><%= child.key %></button>
                            <% } %>
                            <div id="<%= child.key %>" class="tabcontent">
                                <% child.forEach(resource => { %>
                                    <% if (child.key !== "Videos") { %>
                                        <a href="<%= resource.child("link").val() %>" target="_blank"><h3><%= resource.child("name").val() %></h3></a>
                                    <% } else { %>
                                        <a href="<%= course %>/video/<%= resource.key %>"><h3><%= resource.child("name").val() %></h3></a>
                                    <% } %>
                                    <br>
                                    <h5><%= resource.child("from").val() %></h5>
                                    <% if (resource.child("prerequisites").val()[0] === "None") { %>
                                        <h6>No Prerequisites</h6>
                                    <% } else { %>
                                        <% resource.child("prerequisites").val().forEach(requisite => { %>
                                            <h6><%= requisite %></h6>
                                        <% }); %>
                                    <% }%>
                                <% }) %>
                            </div>
                        <% } %>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script>
    let domains = document.getElementById("Domain");
    let branches = document.getElementById("Branch");
    domains.addEventListener("change", function () {
        console.log(domains.value);
        console.log("<%= activeName %>");
    });
</script>
<script src="views/dashboard/vendor/jquery-3.2.1.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<script src="views/dashboard/vendor/slick/slick.min.js"></script>
<script src="views/dashboard/vendor/wow/wow.min.js"></script>
<script src="views/dashboard/vendor/animsition/animsition.min.js"></script>
<script src="views/dashboard/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<script src="views/dashboard/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="views/dashboard/vendor/counter-up/jquery.counterup.min.js"></script>
<script src="views/dashboard/vendor/circle-progress/circle-progress.min.js"></script>
<script src="views/dashboard/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="views/dashboard/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="views/dashboard/vendor/select2/select2.min.js"></script>
<script src="views/dashboard/js/main.js"></script>
<script src="views/learn/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="views/learn/js/vendor/jquery-1.12.4.min.js"></script>
<script src="views/learn/js/popper.min.js"></script>
<script src="views/learn/js/bootstrap.min.js"></script>
<script src="views/learn/js/jquery.slicknav.min.js"></script>
<script src="views/learn/js/owl.carousel.min.js"></script>
<script src="views/learn/js/slick.min.js"></script>
<script src="views/learn/js/wow.min.js"></script>
<script src="views/learn/js/animated.headline.js"></script>
<script src="views/learn/js/jquery.magnific-popup.js"></script>
<script src="views/learn/js/gijgo.min.js"></script>
<script src="views/learn/js/jquery.nice-select.min.js"></script>
<script src="views/learn/js/jquery.sticky.js"></script>
<script src="views/learn/js/jquery.counterup.min.js"></script>
<script src="views/learn/js/waypoints.min.js"></script>
<script src="views/learn/js/contact.js"></script>
<script src="views/learn/js/jquery.form.js"></script>
<script src="views/learn/js/jquery.validate.min.js"></script>
<script src="views/learn/js/mail-script.js"></script>
<script src="views/learn/js/jquery.ajaxchimp.min.js"></script>
<script>
    function openPage(pageName, element, color) {
        let i, tabContent, tabLinks;
        tabContent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        tabLinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tabLinks.length; i++) {
            tabLinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        element.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>

</body>
</html>